In [2]:
import pandas as pd
import numpy as numpy
import os
import re

In [3]:
label_df = pd.read_csv('flower_natural_with_label2.csv', index_col=0)

In [4]:
pres = list(label_df['pre'].unique())
pres[:10]

['0', '100', '101', '102', '103', '104', '105', '106', '107', '108']

In [5]:
l = ! ls flower/images

In [6]:
# # os.makedirs("flower_drop/images")
# for fname in l:
#     pre = re.findall('(.+)_', fname)[0]
#     if pre in pres:
#         shutil.move("flower/images/"+fname, "flower_drop/images/"+fname)

In [10]:
fnames = !ls flower_drop/images
df = pd.DataFrame(fnames)
df[1] = [re.findall('(.+)_', fname)[0] for fname in fnames]
df[2] = [int(re.findall('_(\d+).png', fname)[0]) % 2 for fname in fnames]
df.columns = ['fname', 'pre', 'label']
idxs = list(df.index)
labels = df['label']
pres = df['pre'].unique()
df

         fname pre  label
0      0_0.png   0      0
1      0_1.png   0      1
2     0_10.png   0      0
3     0_11.png   0      1
4     0_12.png   0      0
...        ...  ..    ...
3017   9_5.png   9      1
3018   9_6.png   9      0
3019   9_7.png   9      1
3020   9_8.png   9      0
3021   9_9.png   9      1

[3022 rows x 3 columns]

In [11]:
len(unique)

240

In [16]:
from sklearn.model_selection import train_test_split
pre_train, pre_test = train_test_split(pres, random_state=0)

In [21]:
sorted(pre_train)

['0',
 '1',
 '100',
 '101',
 '102',
 '103',
 '105',
 '108',
 '109',
 '11',
 '110',
 '112',
 '113',
 '115',
 '116',
 '118',
 '119',
 '12',
 '121',
 '122',
 '123',
 '124',
 '125',
 '126',
 '127',
 '128',
 '129',
 '131',
 '132',
 '133',
 '135',
 '136',
 '137',
 '138',
 '139',
 '140',
 '143',
 '144',
 '145',
 '146',
 '147',
 '148-1',
 '149',
 '150',
 '151',
 '153',
 '154',
 '155',
 '156',
 '157',
 '158',
 '159',
 '16',
 '163',
 '163-2',
 '164',
 '165',
 '17',
 '170',
 '178',
 '18',
 '181',
 '185',
 '186',
 '187',
 '188',
 '189',
 '19',
 '191',
 '192',
 '193',
 '194',
 '195-2',
 '196',
 '197',
 '199',
 '204',
 '205',
 '206',
 '208',
 '209',
 '21',
 '210',
 '213',
 '218',
 '219',
 '22',
 '220',
 '223',
 '225',
 '226',
 '227',
 '229',
 '23',
 '231',
 '232',
 '233',
 '234',
 '235',
 '236',
 '237',
 '238',
 '24',
 '240',
 '241',
 '242',
 '244-1',
 '245',
 '246-1',
 '247',
 '250',
 '251',
 '253',
 '254',
 '258',
 '26',
 '261',
 '262',
 '263',
 '264',
 '265',
 '27',
 '29',
 '3',
 '31',
 '33',
 '34-2',
 '35',
 '36',
 '37',
 '38',
 '39-2',
 '4',
 '41',
 '42',
 '43',
 '44-1',
 '45',
 '46-1',
 '47',
 '48',
 '49',
 '50',
 '51',
 '52',
 '55',
 '57',
 '58',
 '59',
 '60',
 '61',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '8',
 '82',
 '83',
 '84',
 '85',
 '86',
 '89',
 '90',
 '92',
 '95',
 '96',
 '97',
 '99']

In [18]:
pres_list = list(df['pre'])

tr_ts = ['ts' if pre in pre_test else 'tr' for pre in pres_list]
df['tr/ts'] = tr_ts

In [24]:
label_df['label'] = [0 if label == 'r' else 1 for label in label_df['label']]
label_df

        fname pre  label
0     0_0.png   0      1
1     0_1.png   0      0
2     0_2.png   0      1
3     0_3.png   0      0
4     0_4.png   0      0
...       ...  ..    ...
1631  9_2.png   9      1
1632  9_3.png   9      0
1633  9_4.png   9      1
1634  9_5.png   9      1
1635  9_6.png   9      0

[1577 rows x 3 columns]

In [25]:
pres_lst = label_df['pre']

In [26]:
trts = ['ts' if pre in pre_test else 'tr' for pre in pres_lst]

label_df['tr/ts'] = trts

In [30]:
label_df[label_df['pre'] == '94']

         fname pre  label tr/ts
1598  94_0.png  94      0    ts
1599  94_1.png  94      1    ts
1600  94_2.png  94      1    ts
1601  94_3.png  94      0    ts
1602  94_4.png  94      0    ts
1603  94_5.png  94      1    ts
1604  94_6.png  94      1    ts

In [31]:
df.to_csv('support_set.csv', index = False)
label_df.to_csv('query_set.csv', index = False)

In [145]:
len(pres)

240

In [132]:
print(list(label_df[label_df['tr/ts'] == 'tr']['label'] == 0).count(True))
print(list(label_df[label_df['tr/ts'] == 'tr']['label'] == 1).count(True))

589
593

In [143]:
label_df.groupby(['label', 'tr/ts']).count()['fname']
589 + 197 + 593 + 198
395 + 1182

1577

In [34]:
import shutil
l = !ls ../MAML-Pytorch_copy4/flower_natural2/images
os.makedirs("../MAML-Pytorch_copy4/flower_natural2_drop/images")
for fname in l:
    if fname in fnames:
        shutil.move("../MAML-Pytorch_copy4/flower_natural2/images/"+fname, "../MAML-Pytorch_copy4/flower_natural2_drop/images/"+fname)